/* header */

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo {
    justify-content: flex-start;
}

.navbar nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
}

/* main */
.container.one {
    display: flex;
}

.leftside {

}

.fight {
    align-self: flex-end;
    justify-self: end;
}