
/* header */

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo {
    justify-content: flex-start;
}

.navbar nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* ONE */
.container.one {
    display: flex;
    justify-content: space-evenly;
}

.container.one .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TWO */
.container.two h1 {
    display: flex;
    justify-content: center;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}

.gon, .killua, .kurapika, .leorio, .hisoka, .netero {
    display: flex;
    flex-direction: column;
    flex: 0 0 3%;
}