
/* header */

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo {
    justify-content: flex-start;
}

.navbar nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* ONE */
.container.one {
    display: flex;
    justify-content: space-evenly;
}

.container.one .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.one .leftside h1 {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

/* TWO */
.container.two h1 {
    display: flex;
    justify-content: center;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}

.gon, .killua, .kurapika, .leorio, .hisoka, .netero {
    display: flex;
    flex-direction: column;
    flex: 0 0 3%;
}

/* THREE */
.container.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.container.three .inner.three {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.container.three h1 {
    display: flex;
    flex: 1;
}

.container.three h2 {
    align-self: flex-end;
}
