* {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.navbar {
    background-color: #04D300;
    height: 150px;
}

.logo img {
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

/* main */

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #04D300;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}