* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.navbar {
    background-image: linear-gradient(to right, #448B00, #04D300, #448B00);
    height: 150px;
}

.logo img {
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
    padding: 1rem;
    margin-right: 25px;
}

/* ONE */
.container.one {
    background-image: linear-gradient(to right, #448B00, #04D300, #448B00);
    padding: 25px;
    /* height: 400px; */
}

.container.one h1 {
    color: white;
    font-size: 40px;
    padding-bottom: 2rem;
    
}

.container.one p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 2rem;
}

.container.one .button {
    background-color: #B1034D;
    color: white;
}

.fight img {
    border-radius: 25px;
    width: 600px;
    margin: 1rem;
}

/* TWO */
.container.two h1 {
    color: #B1034D;
    font-size: 40px;
    padding: 25px;
}

.characters {
    padding: 20px 100px;
}

.gon, .killua, .kurapika, .leorio, .hisoka, .netero {
    padding: 20px;
    align-items: center;
}

.characters img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: #B1034D solid 6px;
}

/* THREE */
.container.three {
    height: 400px;
    background-image: linear-gradient(to bottom, #FD8400, #AD2301);
}

.container.three h1, h2 {
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container.three h1 {
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 40px;
}

.container.three h2 {
    font-family: ;
    font-weight: 900;
}

/* FOUR */
.container.four {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.four .call {
    border-radius: 10px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #B1034D;
    flex: 1 1 1;
    padding: 2rem;
}

.container.four p {
    color: white;
    flex-shrink: 5;
    max-width: 400px;
    margin: 1rem;
}

.call .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}



/* FOOTER */
.copyright {
    background-image: linear-gradient(to right, #448B00, #04D300, #448B00);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright h2 {
    margin: 2rem
}

.button {
    font-size: 18px;
    color: #ECEC90;
    background-color: #020201;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    margin: 1rem;
}